.container{
    margin-bottom: 30px;
}
.orange-bg{
    background-color: #FEEAE9;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    padding: 9px 25px;
    border-radius: 8px;
}
.price{
    color: #FF136F;
}
.single-cat{
    padding: 20px;
    border-radius: 10px;
}
.single-cat img{
    width: 100px;
}
.cat1-bg{
    background-color: #FFA500;
}
.cat2-bg{
    background-color: #DA70D6;
}
.cat3-bg{
    background-color: #0000FF;
}